.row:after {
  content: "";
  display: grid;
  clear: both;
}
.column {
  float: left;
  width: 33%;
  padding: 0.5%;
  text-align: center;
  /* Should be removed. Only for demonstration */
}
.board {
  /* border: 1px solid; */
  /* padding: 10px; */
  background: #f4f4b6;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
b {
  font-family: cursive;
  /* color: rgb(171, 135, 135); */
  color: #b8b855;
}

.playAgain {
  background-color: #e0d28a; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10%;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.playAgain:hover {
  font-size: 18px;
  transition: 0.3s;
}
.status {
  text-align: center;
  font-size: 30px;
  /* margin-bottom: 10px; */
}

.column1 {
  float: left;
  /* width: 11%; */

  /* Should be removed. Only for demonstration */
}

.square {
  background: #f4f4b6;
  border: 2px solid #999;
  font-family: cursive;
  float: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 34px;
  height: 130px;
  text-align: center;
  width: 136.5px;
  color: white;
  text-shadow: rgba(0, 0, 0, 0.5) 0px 54px 55px,
    rgba(0, 0, 0, 0.24) 0px -12px 30px, rgba(0, 0, 0, 0.24) 0px 4px 6px,
    rgba(0, 0, 0, 0.34) 0px 12px 13px, rgba(0, 0, 0, 0.18) 0px -3px 5px;
}
@media screen and (max-width: 600px) {
  .row:after {
    content: "";
    display: grid;
    clear: both;
  }
  .column {
    float: left;
    width: 100%;
    padding: 0.5%;
    text-align: center;
    /* Should be removed. Only for demonstration */
  }
  .column1 {
    float: left;
  }
  .square {
    background: #f4f4b6;
    border: 2px solid #999;
    float: left;
    font-size: 50px;
    font-family: cursive;
    font-weight: bold;
    line-height: 34px;
    height: 153px;
    text-align: center;
    width: 155.5px;
  }


}
